.wireframe-1,
.wireframe-1 * {
  box-sizing: border-box;
}
.wireframe-1 {
  background: #eeeeee;
  height: 1844px;
  position: relative;
  overflow: hidden;
}
.rectangle-3 {
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(254, 230, 1, 1) 38.499999046325684%
  );
  width: 1440px;
  height: 499px;
  position: absolute;
  left: 0px;
  top: 91px;
}
.rectangle-28 {
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(167, 58, 218, 1) 38.499999046325684%
  );
  width: 1440px;
  height: 499px;
  position: absolute;
  left: 0px;
  top: 91px;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.image-2 {
  width: 204.95px;
  height: 235.63px;
  position: absolute;
  left: 519.95px;
  top: 90px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.vecteezy-aguarela-perfume-isolado-22917497-1 {
  width: 271.31px;
  height: 311.25px;
  position: absolute;
  left: 628px;
  top: 112.96px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.rectangle-25 {
  background: #ffffff;
  border-radius: 5px;
  width: 1265px;
  height: 376px;
  position: absolute;
  left: 90px;
  top: 1191px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-4 {
  position: absolute;
  inset: 0;
}
.ellipse-5 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 935px;
  top: 1392px;
}
.frete-gr-tis-em-milh-es-de-produtos-apartir-de-r-29 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1019px;
  top: 1392px;
  width: 230px;
  height: 71px;
}
.rectangle-26 {
  background: linear-gradient(
    90deg,
    rgba(139, 22, 194, 1) 14.000000059604645%,
    rgba(199, 57, 185, 1) 52.49999761581421%,
    rgba(186, 22, 150, 1) 100%
  );
  border-radius: 5px 5px 0px 0px;
  width: 1265px;
  height: 86px;
  position: absolute;
  left: 90px;
  top: 1191px;
}
.assine-o-inter {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: 127px;
  top: 1207px;
  width: 226px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.r-17-m-s {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 1144px;
  top: 1211px;
  width: 170px;
  height: 45px;
}
.r-17-m-s-span {
  color: #ffffff;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.r-17-m-s-span2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.r-17-m-s-span3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
._99 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 1236px;
  top: 1215px;
  width: 30px;
  height: 23px;
}
.conte-com-os-melhores-benef-cios-no-inter {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 130px;
  top: 1309px;
  width: 454px;
  height: 31px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.ellipse-52 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 197px;
  top: 1392px;
}
.frete-gr-tis-em-milh-es-de-produtos-apartir-de-r-292 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 281px;
  top: 1392px;
  width: 230px;
  height: 71px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.ellipse-53 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  position: absolute;
  left: 566px;
  top: 1392px;
}
.frete-gr-tis-em-milh-es-de-produtos-apartir-de-r-293 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 650px;
  top: 1392px;
  width: 230px;
  height: 71px;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #7f7f7f;
  border-width: 1px 0 0 0;
  width: 1265px;
  height: 0px;
  position: absolute;
  left: 90px;
  top: 1497px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-23 {
  position: absolute;
  inset: 0;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 5px;
  width: 221px;
  height: 299px;
  position: absolute;
  left: 90px;
  top: 412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-17 {
  width: 100.07px;
  height: 100.07px;
  position: static;
}
.ellipse-1 {
  background: #afafaf;
  border-radius: 50%;
  width: 100.07px;
  height: 100.07px;
  position: absolute;
  left: 150px;
  top: 462px;
}
.typcn-camera {
  width: 46.88px;
  height: 46.88px;
  position: absolute;
  left: 176.14px;
  top: 488.14px;
  overflow: visible;
}
.conte-com-os-melhores-benef-cios-no {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 117px;
  top: 590px;
  width: 167px;
  height: 95px;
}
.titulo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 117px;
  top: 424px;
  width: 167px;
  height: 23px;
}
.rectangle-29 {
  background: #bfd5f6;
  border-radius: 5px;
  width: 164px;
  height: 24px;
  position: absolute;
  left: 117px;
  top: 673px;
}
.group-24 {
  position: absolute;
  inset: 0;
}
.rectangle-13 {
  background: #ffffff;
  border-radius: 5px;
  width: 221px;
  height: 299px;
  position: absolute;
  left: 351px;
  top: 412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-18 {
  width: 100.07px;
  height: 100.07px;
  position: static;
}
.ellipse-2 {
  background: #afafaf;
  border-radius: 50%;
  width: 100.07px;
  height: 100.07px;
  position: absolute;
  left: 406px;
  top: 462px;
}
.typcn-camera2 {
  width: 46.88px;
  height: 46.88px;
  position: absolute;
  left: 432.14px;
  top: 488.14px;
  overflow: visible;
}
.titulo2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 382px;
  top: 424px;
  width: 167px;
  height: 23px;
}
.conte-com-os-melhores-benef-cios-no2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 382px;
  top: 590px;
  width: 167px;
  height: 95px;
}
.rectangle-30 {
  background: #bfd5f6;
  border-radius: 5px;
  width: 164px;
  height: 24px;
  position: absolute;
  left: 382px;
  top: 673px;
}
.group-25 {
  position: absolute;
  inset: 0;
}
.rectangle-14 {
  background: #ffffff;
  border-radius: 5px;
  width: 221px;
  height: 299px;
  position: absolute;
  left: 873px;
  top: 412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-20 {
  width: 100.07px;
  height: 100.07px;
  position: static;
}
.ellipse-3 {
  background: #afafaf;
  border-radius: 50%;
  width: 100.07px;
  height: 100.07px;
  position: absolute;
  left: 933px;
  top: 462px;
}
.typcn-camera3 {
  width: 46.88px;
  height: 46.88px;
  position: absolute;
  left: 960.04px;
  top: 488.14px;
  overflow: visible;
}
.titulo3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 904px;
  top: 424px;
  width: 167px;
  height: 23px;
}
.conte-com-os-melhores-benef-cios-no3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 904px;
  top: 590px;
  width: 167px;
  height: 95px;
}
.rectangle-31 {
  background: #bfd5f6;
  border-radius: 5px;
  width: 164px;
  height: 24px;
  position: absolute;
  left: 907px;
  top: 673px;
}
.group-26 {
  position: absolute;
  inset: 0;
}
.rectangle-142 {
  background: #ffffff;
  border-radius: 5px;
  width: 221px;
  height: 299px;
  position: absolute;
  left: 612px;
  top: 412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ellipse-32 {
  background: #afafaf;
  border-radius: 50%;
  width: 100.07px;
  height: 100.07px;
  position: absolute;
  left: 672px;
  top: 462px;
}
.typcn-camera4 {
  width: 46.88px;
  height: 46.88px;
  position: absolute;
  left: 699.04px;
  top: 488.14px;
  overflow: visible;
}
.titulo4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 643px;
  top: 424px;
  width: 167px;
  height: 23px;
}
.conte-com-os-melhores-benef-cios-no4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 643px;
  top: 590px;
  width: 167px;
  height: 95px;
}
.rectangle-312 {
  background: #bfd5f6;
  border-radius: 5px;
  width: 164px;
  height: 24px;
  position: absolute;
  left: 646px;
  top: 673px;
}
.group-27 {
  position: absolute;
  inset: 0;
}
.rectangle-15 {
  background: #ffffff;
  border-radius: 5px;
  width: 221px;
  height: 299px;
  position: absolute;
  left: 1134px;
  top: 412px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-19 {
  width: 100.07px;
  height: 100.07px;
  position: static;
}
.ellipse-4 {
  background: #afafaf;
  border-radius: 50%;
  width: 100.07px;
  height: 100.07px;
  position: absolute;
  left: 1195px;
  top: 462px;
}
.typcn-camera5 {
  width: 46.88px;
  height: 46.88px;
  position: absolute;
  left: 1222.04px;
  top: 488.14px;
  overflow: visible;
}
.titulo5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1167px;
  top: 424px;
  width: 167px;
  height: 23px;
}
.conte-com-os-melhores-benef-cios-no5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  left: 1167px;
  top: 590px;
  width: 167px;
  height: 95px;
}
.rectangle-32 {
  background: #bfd5f6;
  border-radius: 5px;
  width: 164px;
  height: 24px;
  position: absolute;
  left: 1169px;
  top: 673px;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.rectangle-27 {
  background: #3183ff;
  border-radius: 5px;
  width: 143px;
  height: 47px;
  position: absolute;
  left: 1176px;
  top: 1508px;
}
.assinar-o-inter {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 1192px;
  top: 1523px;
  width: 120px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-28 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #ffffff;
  border-radius: 5px;
  width: 353px;
  height: 358px;
  position: absolute;
  left: 90px;
  top: 772px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.oferta-do-dia {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 110px;
  top: 773px;
  width: 130px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-7 {
  width: 279px;
  height: 135px;
  position: static;
}
.samsung-galaxy-a-15-4-g-dual-sim-128-gb-azul-claro-4-gb-ram {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 110px;
  top: 984px;
  width: 279px;
  height: 34px;
}
.group-6 {
  width: 174px;
  height: 96px;
  position: static;
}
.r-869-27-off {
  text-align: left;
  position: absolute;
  left: 110px;
  top: 1036px;
  width: 174px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-869-27-off-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.r-869-27-off-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.r-869-27-off-span3 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 1074px;
  width: 155px;
  height: 19px;
}
.em-10-x-r-86-90-sem-juros-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros-span2 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frete-gr-tis {
  color: #007b2a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 113px;
  top: 1100px;
  width: 67px;
  height: 19px;
}
.group-5 {
  width: 55px;
  height: 17px;
  position: static;
}
.r-1-199 {
  color: #717171;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 113px;
  top: 1023px;
  width: 55px;
  height: 17px;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #717171;
  border-width: 1px 0 0 0;
  width: 50px;
  height: 0px;
  position: absolute;
  left: 113px;
  top: 1032px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.image-1 {
  width: 166px;
  height: 166px;
  position: absolute;
  left: 183px;
  top: 813px;
  object-fit: cover;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  border-radius: 0px;
  width: 880px;
  height: 358px;
  position: absolute;
  left: 475px;
  top: 773px;
  overflow: visible;
}
.ofertas-do-dia-mostrar-todas-as-ofertas {
  text-align: left;
  position: absolute;
  left: 497px;
  top: 784px;
  width: 386px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ofertas-do-dia-mostrar-todas-as-ofertas-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.ofertas-do-dia-mostrar-todas-as-ofertas-span2 {
  color: #3083ff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.group-30 {
  width: 174px;
  height: 273px;
  position: static;
}
.group-8 {
  width: 174px;
  height: 135px;
  position: static;
}
.samsung-galaxy-a-15-4-g-dual-sim-128-gb-azul-cl {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 533px;
  top: 983px;
  width: 158px;
  height: 34px;
}
.group-62 {
  width: 174px;
  height: 87px;
  position: static;
}
.r-869-27-off2 {
  text-align: left;
  position: absolute;
  left: 533px;
  top: 1035px;
  width: 174px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-869-27-off-2-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.r-869-27-off-2-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.r-869-27-off-2-span3 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros2 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 536px;
  top: 1073px;
  width: 155px;
  height: 19px;
}
.em-10-x-r-86-90-sem-juros-2-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros-2-span2 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frete-gr-tis2 {
  color: #007b2a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 536px;
  top: 1099px;
  width: 67px;
  height: 19px;
}
.r-1-1992 {
  color: #717171;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.5px;
  font-weight: 500;
  position: absolute;
  left: 533px;
  top: 1031px;
  width: 55px;
  height: 17px;
}
.line-22 {
  margin-top: -1px;
  border-style: solid;
  border-color: #717171;
  border-width: 1px 0 0 0;
  width: 41px;
  height: 0px;
  position: absolute;
  left: 534px;
  top: 1039px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-9 {
  width: 116px;
  height: 126px;
  position: static;
}
.rectangle-17 {
  background: #afafaf;
  width: 116px;
  height: 126px;
  position: absolute;
  left: 554px;
  top: 845px;
}
.typcn-camera6 {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 586px;
  top: 879px;
  overflow: visible;
}
.group-32 {
  width: 175px;
  height: 273px;
  position: static;
}
.group-15 {
  width: 175px;
  height: 135px;
  position: static;
}
.samsung-galaxy-a-15-4-g-dual-sim-128-gb-azul-cl2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 1139px;
  top: 983px;
  width: 158.91px;
  height: 34px;
}
.group-63 {
  width: 175px;
  height: 87px;
  position: static;
}
.r-869-27-off3 {
  text-align: left;
  position: absolute;
  left: 1139px;
  top: 1035px;
  width: 175px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-869-27-off-3-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.r-869-27-off-3-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.r-869-27-off-3-span3 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros3 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1142.02px;
  top: 1073px;
  width: 155.89px;
  height: 19px;
}
.em-10-x-r-86-90-sem-juros-3-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros-3-span2 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frete-gr-tis3 {
  color: #007b2a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1142.02px;
  top: 1099px;
  width: 67.39px;
  height: 19px;
}
.group-52 {
  width: 55.32px;
  height: 17px;
  position: static;
}
.r-1-1993 {
  color: #717171;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.5px;
  font-weight: 500;
  position: absolute;
  left: 1139px;
  top: 1031px;
  width: 55.32px;
  height: 17px;
}
.line-23 {
  margin-top: -1px;
  border-style: solid;
  border-color: #717171;
  border-width: 1px 0 0 0;
  width: 41.24px;
  height: 0px;
  position: absolute;
  left: 1140.01px;
  top: 1039px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-14 {
  width: 116px;
  height: 126px;
  position: static;
}
.rectangle-20 {
  background: #afafaf;
  width: 116px;
  height: 126px;
  position: absolute;
  left: 1160px;
  top: 845px;
}
.typcn-camera7 {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 1192px;
  top: 879px;
  overflow: visible;
}
.group-31 {
  width: 174px;
  height: 273px;
  position: static;
}
.group-10 {
  width: 174px;
  height: 135px;
  position: static;
}
.samsung-galaxy-a-15-4-g-dual-sim-128-gb-azul-cl3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 735px;
  top: 983px;
  width: 158px;
  height: 34px;
}
.r-869-27-off4 {
  text-align: left;
  position: absolute;
  left: 735px;
  top: 1035px;
  width: 174px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-869-27-off-4-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.r-869-27-off-4-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.r-869-27-off-4-span3 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros4 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 738px;
  top: 1073px;
  width: 155px;
  height: 19px;
}
.em-10-x-r-86-90-sem-juros-4-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros-4-span2 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frete-gr-tis4 {
  color: #007b2a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 738px;
  top: 1099px;
  width: 67px;
  height: 19px;
}
.r-1-1994 {
  color: #717171;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.5px;
  font-weight: 500;
  position: absolute;
  left: 735px;
  top: 1031px;
  width: 55px;
  height: 17px;
}
.line-24 {
  margin-top: -1px;
  border-style: solid;
  border-color: #717171;
  border-width: 1px 0 0 0;
  width: 41px;
  height: 0px;
  position: absolute;
  left: 736px;
  top: 1039px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-11 {
  width: 116px;
  height: 126px;
  position: static;
}
.rectangle-18 {
  background: #afafaf;
  width: 116px;
  height: 126px;
  position: absolute;
  left: 756px;
  top: 845px;
}
.typcn-camera8 {
  width: 52px;
  height: 52px;
  position: absolute;
  left: 788px;
  top: 879px;
  overflow: visible;
}
.group-29 {
  width: 174px;
  height: 274px;
  position: static;
}
.group-12 {
  width: 174px;
  height: 135px;
  position: static;
}
.samsung-galaxy-a-15-4-g-dual-sim-128-gb-azul-cl4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 937px;
  top: 984px;
  width: 158px;
  height: 34px;
}
.r-869-27-off5 {
  text-align: left;
  position: absolute;
  left: 937px;
  top: 1036px;
  width: 174px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-869-27-off-5-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.r-869-27-off-5-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.r-869-27-off-5-span3 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros5 {
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 940px;
  top: 1074px;
  width: 155px;
  height: 19px;
}
.em-10-x-r-86-90-sem-juros-5-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.em-10-x-r-86-90-sem-juros-5-span2 {
  color: #007b2a;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.frete-gr-tis5 {
  color: #007b2a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 940px;
  top: 1100px;
  width: 67px;
  height: 19px;
}
.r-1-1995 {
  color: #717171;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.5px;
  font-weight: 500;
  position: absolute;
  left: 937px;
  top: 1032px;
  width: 55px;
  height: 17px;
}
.line-25 {
  margin-top: -1px;
  border-style: solid;
  border-color: #717171;
  border-width: 1px 0 0 0;
  width: 41px;
  height: 0px;
  position: absolute;
  left: 938px;
  top: 1040px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-13 {
  width: 116px;
  height: 126px;
  position: static;
}
.rectangle-19 {
  background: #afafaf;
  width: 116px;
  height: 126px;
  position: absolute;
  left: 958px;
  top: 845px;
}
.typcn-camera9 {
  width: 3.61%;
  height: 2.82%;
  position: absolute;
  right: 27.64%;
  left: 68.75%;
  bottom: 49.51%;
  top: 47.67%;
  overflow: visible;
}
.group-22 {
  position: absolute;
  inset: 0;
}
.rectangle-33 {
  background: #662e9e;
  border-radius: 40px 6px 6px 6px;
  width: 362px;
  height: 123px;
  position: absolute;
  left: 647px;
  top: 127px;
}
.especial-dia-das-m-es {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  left: 691px;
  top: 141px;
  width: 297px;
  height: 95px;
}
.rectangle-35 {
  background: #662e9e;
  border-radius: 6px 6px 6px 50px;
  width: 362px;
  height: 61px;
  position: absolute;
  left: 647px;
  top: 265px;
}
.at-60-off {
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 730px;
  top: 272px;
  width: 258px;
  height: 47px;
}
.at-60-off-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.at-60-off-span2 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.at-60-off-span3 {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.at-60-off-span4 {
  color: #ffffff;
  font-family: "Inter-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.ellipse-6 {
  background: #c1c1c1;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 714px;
  top: 362px;
}
.ellipse-7 {
  background: #c1c1c1;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 738px;
  top: 362px;
}
.ellipse-8 {
  background: #ffffff;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 690px;
  top: 362px;
}
.ellipse-9 {
  background: #c1c1c1;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 762px;
  top: 362px;
}
.ellipse-10 {
  background: #c1c1c1;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: 666px;
  top: 362px;
}
.rectangle-36 {
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
  width: 68px;
  height: 68px;
  position: absolute;
  left: 0px;
  top: 227px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-37 {
  background: #ffffff;
  border-radius: 0px 50px 50px 0px;
  width: 68px;
  height: 68px;
  position: absolute;
  left: 1440px;
  top: 227px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.oui-arrow-up {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 21px;
  top: 274px;
  transform: translate(0px, -25px);
  overflow: visible;
}
.oui-arrow-up2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1419px;
  top: 273px;
  transform: translate(-25px, -25px);
  overflow: visible;
}
.group-40 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: linear-gradient(
    90deg,
    rgba(139, 22, 194, 1) 14.000000059604645%,
    rgba(169, 40, 189, 1) 44.49999928474426%,
    rgba(166, 38, 190, 1) 74.50000047683716%,
    rgba(139, 22, 194, 1) 100%
  );
  width: 1440px;
  height: 91px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo-shopping-online-verde-1 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 69px;
  top: -1px;
  object-fit: cover;
}
.inter-shop {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  left: 123px;
  top: 11px;
  width: 44px;
  height: 38px;
}
.group-34 {
  width: 538px;
  height: 37px;
  position: static;
}
.rectangle-38 {
  background: #ffffff;
  border-radius: 4px;
  width: 538px;
  height: 37px;
  position: absolute;
  left: 315px;
  top: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-35 {
  width: 30px;
  height: 31px;
  position: static;
}
.cil-zoom {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 820px;
  top: 19px;
  overflow: visible;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #797979;
  border-width: 1px 0 0 0;
  width: 31px;
  height: 0px;
  position: absolute;
  left: 809px;
  top: 13px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.informe-seu-cep {
  text-align: left;
  position: absolute;
  left: 122px;
  top: 53px;
  width: 84px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.informe-seu-cep-span {
  color: #ffffff;
  font-family: "Inter-ExtraLight", sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.informe-seu-cep-span2 {
  color: #000000;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.informe-seu-cep-span3 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.group-36 {
  width: 542px;
  height: 20px;
  position: static;
}
.categorias {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 315px;
  top: 63px;
  width: 88px;
  height: 20px;
}
.ofertas {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 446px;
  top: 63px;
  width: 61px;
  height: 20px;
}
.hist-rico {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 525px;
  top: 63px;
  width: 72px;
  height: 20px;
}
.vender {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 615px;
  top: 63px;
  width: 60px;
  height: 20px;
}
.contato {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 696px;
  top: 63px;
  width: 68px;
  height: 20px;
}
.compras {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 782px;
  top: 63px;
  width: 75px;
  height: 20px;
}
.oui-arrow-up3 {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 413px;
  top: 81px;
  overflow: visible;
}
.group-37 {
  width: 270px;
  height: 20px;
  position: static;
}
.entre {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1174px;
  top: 63px;
  width: 43px;
  height: 20px;
}
.compras2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1240px;
  top: 63px;
  width: 69px;
  height: 20px;
}
.crie-sua-conta {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1039px;
  top: 63px;
  width: 112px;
  height: 20px;
}
.icon-park-outline-local-two {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 91px;
  top: 53px;
  overflow: hidden;
}
.group {
  width: 62.5%;
  height: 83.33%;
  position: absolute;
  right: 18.75%;
  left: 18.75%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.fluent-cart-16-regular {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 1324px;
  top: 58px;
  overflow: visible;
}
.group-38 {
  width: 209px;
  height: 34px;
  position: static;
}
.rectangle-362 {
  background: linear-gradient(
    90deg,
    rgba(199, 57, 185, 1) 0%,
    rgba(151, 29, 192, 1) 50%,
    rgba(139, 22, 194, 1) 100%
  );
  border-radius: 30px 0px 20px 30px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.5px;
  width: 209px;
  height: 34px;
  position: absolute;
  left: 1352px;
  top: 44px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.assine-o-inter-por-r-17-99 {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1152px;
  top: 19px;
  width: 200px;
  height: 20px;
}
.assine-o-inter-por-r-17-99-span {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.assine-o-inter-por-r-17-99-span2 {
  color: #ffffff;
  font-family: "Inter-Black", sans-serif;
  font-size: 14px;
  font-weight: 900;
}
.assine-o-inter-por-r-17-99-span3 {
  color: #ffffff;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 14px;
  font-weight: 800;
}
.assine-o-inter-por-r-17-99-span4 {
  color: #ffffff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.assine-o-inter-por-r-17-99-span5 {
  color: #ffffff;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.assine-o-inter-por-r-17-99-span6 {
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.group-41 {
  position: absolute;
  inset: 0;
}
.rectangle-8 {
  background: #3e3a41;
  width: 1440px;
  height: 119px;
  position: absolute;
  left: 0px;
  top: 1725px;
}
.group-39 {
  width: 834px;
  height: 20px;
  position: static;
}
.termos-e-condi-es {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 1755px;
  width: 153px;
  height: 20px;
}
.como-cuidamos-da-sua-privacidade {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 230px;
  top: 1755px;
  width: 225px;
  height: 20px;
}
.contato2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 573px;
  top: 1755px;
  width: 59px;
  height: 20px;
}
.informa-es-sobre-seguros {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 646px;
  top: 1755px;
  width: 177px;
  height: 20px;
}
.acessibilidade {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 469px;
  top: 1755px;
  width: 97px;
  height: 20px;
}
.dia-das-m-es {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 837px;
  top: 1755px;
  width: 87px;
  height: 20px;
}
.copyright-1999-2024-ebazar-com-br-ltda-cnpj-n-03-007-331-0001-41-av-das-na-es-unidas-n-3-003-bonfim-osasco-sp-cep-06233-903-empresa-do-grupo-another-ecommerce {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 1787px;
  width: 934px;
  height: 37px;
}
